body {
    background: #d3d3d3;
}

header{ 

    background: url("aulas.jpg") no-repeat center center;
    background-size: cover;
    height: 100%;
    width: 100%;
    padding-top: 12rem; 
    padding-bottom: 12rem;
   }